<h1>Reviews for <%= @movie.title %></h1>

<%= link_to 'Back to Overview', dashboard_index_path %>
<br/>
<br/>
<table>
  <tr>
    <th>User</th>
    <th>Stars</th>
    <th>Review</th>
  </tr>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.user.fullname %></td>
      <td><%= review.stars %></td>
      <td><%= review.review %></td>
    </tr>
  <% end %>
</table>
